html {
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0px;
  padding: 0px;
}
/*NAV*/
.nav {
  background-color: white;
  padding: 0px 117px;
  height: 80px;
  display: flex;
  align-items: center;
}
.nav__spacer {
  flex: 9px;
}
.nav__icon {
  width: 26px;
  height: 26px;
}
.icon {
  border-radius: 50%;
  background-color: #5e81fe;
}
.links {
  list-style: none;
}
.link {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  cursor: pointer;
}
.links__item {
  display: inline-block;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #697ca6;
  text-shadow: 0px 0px 5px #e6e6e6;
  margin-left: 42px;
}
.links__item:first-child {
  margin-left: 73px;
}
.link:hover {
  color: #5e81fe;
}
.media {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.media__item {
  cursor: pointer;
  margin-left: 31px;
}
button {
  border: none;
  outline: none;
  text-align: center;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  border-radius: 2px;
  cursor: pointer;
  width: 130px;
  height: 43px;
}
.button_start {
  color: #3a79ff;
  background: #d2e1ff;
  width: 113px;
  height: 43px;
}
.nav__button {
  margin-left: 44px;
  width: 113px;
}
/*HEAD*/
.head {
  position: relative;
  height: 570px;
  width: 100%;
  background-color: #f1f5ff;
  display: flex;
  justify-content: center;
}
.head__line {
  position: absolute;
}
.head__info {
  position: absolute;
  top: 92px;
  text-align: center;
}
.head__clouds {
  height: 100%;
  width: 100%;
}
.info__main {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 60px;
  color: #3d4f9f;
  margin-top: 16px;
  margin-bottom: 28px;
}
.info__slogan {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3d4f9f;
}
.info__secondary {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 29px;
  letter-spacing: 0.03em;
  color: #8d96bd;
}
.info__secondary_head {
  width: 502px;
}
.clouds__1 {
  position: absolute;
}

/*COMPANIES*/
.companies {
  display: flex;
  background-color: white;
  height: 145px;
  padding: 0px 276px;
  align-items: center;
}
.companies__item {
  height: 29px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.companies__item_bitbucket {
  background-image: url("./assets/companies/bitbucket.png");
}
.companies__item_watch {
  background-image: url("./assets/companies/watch.png");
}
.companies__item_facebook {
  background-image: url("./assets/companies/facebook.png");
}
.companies__item_atlassian {
  background-image: url("./assets/companies/atlassian.png");
}
.companies__item_audi {
  background-image: url("./assets/companies/audi.png");
}

/*PLAN*/
.plan {
  height: 776px;
  background: #f5f8ff;
  position: relative;
  display: flex;
  justify-content: center;
}
.plan__info {
  text-align: left;
  width: 431px;
  height: 151px;
  margin-top: 208px;
}
.plan__actions {
  margin-top: 47px;
}
.button_video {
  background: #4c85ff;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
}
.button_secondary {
  border: 1px solid #d1d1e4;
  background: none;
  color: #adb4d2;
  margin-left: -5px;
}
.plan__pictures {
  margin-left: 55px;
  width: 436px;
}
.pictures__desktop {
  background: #ffffff;
  box-shadow: 0px 20px 40px rgba(53, 60, 115, 0.15);
  width: 539.95px;
  height: 336.62px;
  position: absolute;
  top: 170px;
  background-image: url(./assets/sreens/desktop.png);
  background-position: center;
  background-size: 95%;
  background-repeat: no-repeat;
  border-radius: 15px;
  margin-left: 80px;
}
.pictures__keyboard {
  background: #ffffff;
  box-shadow: 0px 50px 50px rgba(107, 119, 224, 0.05),
    0px 50px 150px rgba(104, 113, 198, 0.05),
    0px 50px 200px rgba(53, 60, 115, 0.05),
    0px 20px 40px rgba(159, 162, 195, 0.15);
  position: absolute;
  width: 606px;
  height: 19.8px;
  top: 499px;
  margin-left: 47px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.pictures__mobile1 {
  background: #ffffff;
  box-shadow: 0px 20px 40px rgba(53, 60, 115, 0.15);
  border-radius: 15px;
  width: 107px;
  height: 214px;
  top: 270px;
  position: absolute;
  background-image: url(./assets/sreens/mobile1.png);
  background-position: center;
  background-size: 95%;
  background-repeat: no-repeat;
}
.pictures__mobile2 {
  position: absolute;
  width: 148px;
  height: 280px;
  top: 326px;
  background: #ffffff;
  box-shadow: 0px 20px 40px rgba(53, 60, 115, 0.15);
  border-radius: 15px;
  background-image: url(./assets/sreens/mobile2.png);
  background-position: center;
  background-size: 95%;
  background-repeat: no-repeat;
  margin-left: 444px;
}
.info__secondary_plan {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 29px;
  letter-spacing: 0.03em;
  color: #8d96bd;
  width: 413px;
}
/*APPS*/
.apps {
  height: 885px;
  background: #ffffff;
}
.info__main_apps {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #3d4f9f;
}
.info_apps {
  text-align: center;
}
.apps__list {
  display: flex;
  width: 685px;
  margin: auto;
  justify-content: space-between;
}
.apps__info {
  margin-top: 171px;
  margin-bottom: 92px;
}
.info__main_apps {
  margin-top: 20px;
}
.apps__item {
}
.app__img {
  background: #f1f5ff;
  width: 69px;
  height: 69px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 33px;
}
.app__info {
  width: 140px;
  height: 102px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 19px;
  text-align: center;
  color: #adb3cb;
}
.app__name {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  color: #4074f8;
  margin-bottom: 25px;
}
.apps__limit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 1px;
  margin-top: 127px;
}
.button_more {
  color: #d43f3f;
  background: #ffd7d7;
  width: 113px;
  height: 43px;
}
.apps__actions {
  margin-top: 92px;
}
.actions {
  display: flex;
  justify-content: center;
  align-items: center;
}
.actions__text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 19px;
  text-align: center;
  color: #adb3cb;
}
.actions__limit {
  border: 1px solid #dae4fe;
  width: 15px;
  height: 0px;
  margin: 0px 16px;
}
.stats {
  height: 342px;
  display: flex;
  
}
.stats__part{
  position: relative;
}
.stats__part_left {
  background: linear-gradient(229.32deg, #6888ff 12.77%, #5e80ff 73.11%);
  width: 50%;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-align: right;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-right: 90px;
  text-align: right;
}
.stats__part_right {
  background: linear-gradient(101.48deg, #e9efff 41.56%, #e0e9ff 81.53%);
  width: 50%;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.03em;
  color: #5e80ff;
  padding-left: 90px;
  text-align: left;
}
.stats__icon {
  margin-top: 70px;
}
.stats__value {
  margin-top: 24px;
  font-size: 48px;
  line-height: 83px;
}
.stats__info{
  width: 260px;
  height: 45px;
}
.stats__info_left{
  text-align: right;
  right: 90px;
  position: absolute;
}